input::placeholder{
    /* color: gray; */
    font-size: 12px;
}
input{
    border: 2px solid gray;
    size: 10px;
    /* color: black; */
}
input:focus, textarea:focus{
    border: 1px solid black;
}

  button {
    margin: 20px;
  }
  .custom-btn-22 {
    /* width: 120px;
    height: 40px; */
    /* color: #fff; */
    border-radius: 5px;
    padding: 20px 45px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
  /* 13 */
  .btn-22 {
    background-color: #caabab;
    border: none;
    z-index: 1;
  }
  .btn-22:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px;
  background-image: linear-gradient(315deg, #caabab 0%, #caabab 74%);
    box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
  }
  .btn-22:hover {
    color: #fff;
    font-weight: 600;
  }
  .btn-22:hover:after {
    top: 0;
    height: 100%;
  }
  .btn-22:active {
    top: 2px;
  }
  .background-image{
    background-image: url("../../assets/layered-waves-haikei-large.png");
    background-size: cover;
    background-position: bottom;
  }