
/* btn */
.frame {
    width: 90%;
    margin: 40px auto;
    text-align: center;
  }
  button {
    margin: 20px;
  }
  .custom-btn-13 {
    width: 120px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
  /* 13 */
  .btn-13 {
    background-color: white;
    color: black;
  /* background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%); */
    border: none;
    z-index: 1;
  }
  .btn-13:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px;
     /* background-color: #4dccc6; */
  background-image: linear-gradient(315deg, #caabab 0%, #caabab 74%);
    box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
  }
  .btn-13:hover {
    color: #fff;
  }
  .btn-13:hover:after {
    top: 0;
    height: 100%;
  }
  .btn-13:active {
    top: 2px;
  }
  
  .first_slider {
    background-size: cover;
    background: linear-gradient(to right, rgba(54, 50, 50, 0.577), rgba(0, 0, 0, 0)), url("../../assets/sliderOne.jpg");
    ;
  }
  
  /* .second_slider {
    background-size: cover;
    background: linear-gradient(to right, rgba(54, 50, 50, 0.543), rgba(0, 0, 0, 0)), url("https://i.ibb.co/v4ytJpB/bgThree.jpg");
    ;
  }
  
  .third_slider {
    background-size: cover;
    background: linear-gradient(to right, rgba(54, 50, 50, 0.577), rgba(0, 0, 0, 0)), url("https://i.ibb.co/CnQghbm/bgTwo.jpg");
    ;
  } */

  .bgImage{
    background-size: cover;
    background-position: bottom;
  }